<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>7GB</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta name="pinterest" content="nopin" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Ghost" />

    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <meta name="application-name" content="7GB" />
    <meta name="msapplication-TileColor" content="#ffffff" />
</head>
<body>
<div class="ember-load-indicator">
    <div class="gh-loading-content">
        <div class="gh-loading-spinner"></div>
    </div>
</div>
<div id="ember-basic-dropdown-wormhole"></div>
</body>
</html>
